<footer class="footer fixed-bottom">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center bg-info" style="color:white">Site is offline</div>
        <div class="row d-flex justify-content-center bg-secondary">
            <a class="btn-floating" href="mailto:codersinan@gmail.com">
                <i class="fa fa-2x fa-envelope icon-background"></i>
            </a>
            <a class="btn-floating" href="https://github.com/codersinan" target="_blank">
                <i class="fa fa-2x fa-github icon-background"></i>
            </a>
            <a class="btn-floating" href="https://www.linkedin.com/in/sinan-çalışkan-9bb89092" target="_blank">
                <i class="fa fa-2x fa-linkedin icon-background"></i>
            </a>
            <a class="btn-floating" href="https://twitter.com/codersinan" target="_blank">
                <i class="fa fa-2x fa-twitter icon-background"></i>
            </a>
        </div>
    </div>
</footer>