<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand justifty-content-center">
    <span class="d-block d-lg-none" style="color:white">Sinan Çalışkan</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../assets/profile.jpg" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="$event.stopPropagation(); menu._open==false ? menu.open() :menu.close();" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" ngbDropdown #menu="ngbDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" id="aboutActive">
        <a class="nav-link" (click)="scroll('about')">{{'About.About.Header'|translate}}</a>
      </li>
      <li class="nav-item" id="experienceActive">
        <a class="nav-link" (click)="scroll('experience')">{{'About.Experience.Header'|translate}}</a>
      </li>
      <li class="nav-item" id="educationActive">
        <a class="nav-link" (click)="scroll('education')">{{'About.Education.Header'|translate}}</a>
      </li>
      <li class="nav-item" id="skillsActive">
        <a class="nav-link" (click)="scroll('skills')">{{'About.Skills.Header'|translate}}</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link btn-block dropdown-toggle" ngbDropdownToggle>
          {{ 'Language' | translate }} : {{ 'LanguageSelected' | translate }}
        </a>
        <div class="dropdown-menu btn-block" ngbDropdownMenu>
          <button class="dropdown-item btn btn-block" (click)="switchLanguage('en')">English</button>
          <button class="dropdown-item btn btn-block" (click)="switchLanguage('tr')">Türkçe</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Sinan
        <span class="text-primary">Çalışkan</span>
      </h1>
      <br>
      <div class="subheading mb-5">{{'Contact.Location'|translate}} · +90 534 064 95 46 ·
        <a href="mailto:codersinan@gmail.com">codersinan@gmail.com</a>
      </div>
      <p class="lead mb-5">{{'About.About.Text'|translate}}</p>
      <div class="social-icons d-flex justify-content-center">
        <a href="mailto:codersinan@gmail.com">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://github.com/codersinan" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/sinan-çalışkan-9bb89092" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/codersinan" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-2">{{'About.Experience.Header'|translate}}</h2>
      <div class="resume-item d-flex flex-column flex-md-row mb-1">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{'About.Experience.Experiences.0.Job'|translate}}</h3>
          <div class="subheading mb-3">{{'About.Experience.Experiences.0.Firm'|translate}}</div>
          <p>{{'About.Experience.Experiences.0.JobDescription'|translate}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{'About.Experience.Experiences.0.Date'|translate}}</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-1">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{'About.Experience.Experiences.1.Job'|translate}}</h3>
          <div class="subheading mb-3">{{'About.Experience.Experiences.1.Firm'|translate}}</div>
          <p>{{'About.Experience.Experiences.1.JobDescription'|translate}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{'About.Experience.Experiences.1.Date'|translate}}</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-1">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{'About.Experience.Experiences.2.Job'|translate}}</h3>
          <div class="subheading mb-3">{{'About.Experience.Experiences.2.Firm'|translate}}</div>
          <p>{{'About.Experience.Experiences.2.JobDescription'|translate}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{'About.Experience.Experiences.2.Date'|translate}}</span>
        </div>
      </div>
    </div>

  </section>

  <hr class="m-0">
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">{{'About.Education.Header'|translate}}</h2>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{'About.Education.University.Name'|translate}}</h3>
          <div class="subheading mb-3">{{'About.Education.University.Department'|translate}}</div>
          <p>{{'About.Education.University.GPA'|translate}} : 2.87/4</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{'About.Education.University.Date'|translate}}</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">{{'About.Education.AssociateDegree.Name'|translate}}</h3>
          <div class="subheading mb-3">{{'About.Education.AssociateDegree.Department'|translate}}</div>
          <p>{{'About.Education.AssociateDegree.GPA'|translate}} : 3.57/4</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{'About.Education.AssociateDegree.Date'|translate}}</span>
        </div>
      </div>
    </div>
  </section>

  <hr class="m-0">
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">{{'About.Skills.Header'|translate}}</h2>

      <div class="subheading mb-3">{{'About.Skills.Text'|translate}}</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>Angular
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Ionic Framework
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Android
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>ASP.Net MVC 5 C#
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Windows Form Application C#
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>DevExpress C#
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>.NetCore WebApi C#
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>npm
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>MSSQL
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Mysql
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Oracle PL/SQL
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Restful
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>JSON
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>CSV
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Team Foundation Server
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>Git
        </li>
      </ul>
    </div>
  </section>
</div>