<ng-container *ngIf="siteStatus=='loading'; then loading; else elseTemplate"></ng-container>
<ng-template #loading>
  Loading...
</ng-template>
<ng-template #elseTemplate>
  <ng-container *ngIf="siteStatus=='online'; then online; else offline"></ng-container>
  <ng-template #online>
    <app-portfolio></app-portfolio>
  </ng-template>
  <ng-template #offline>
    <img src="../assets/under-construction.jpg" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:-5000;">
    <app-footer></app-footer>
  </ng-template>
</ng-template>